@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.main{
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #abacaf1e;
}

.main .right{
    flex-grow: 3;
    background-image: url('../../assets/logo.png') ;
    background-size: cover;
    height: 100%;
}

.main .left{
    flex-grow: 1;
}
.gray{
    color: #abacaf;
}
.main .left form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    height: 60vh;
    margin: 0 auto;
    gap: 2rem;
    padding: 5rem 3rem;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 12px 48px 0px;
    justify-content: space-evenly;
}

input{
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 11px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all .3s ease;
}

input:hover{
    box-shadow: 0 0 0 0 #fff inset, #0d6efd 0 0 0 2px;
}

input:focus{
    background: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #0d6efd 0 0 0 3px;
}

button{
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 1rem;
}
button:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}
