@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.main{
    display: flex;
    width: 100%;
    background-color: #abacaf25;
}

.sidebar{
    height: 100vh;
    position: sticky;
    top: 0;
    right: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99999;
    background-color: white;
}
.sidebar .onglet div{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 3rem 0;
}
.sidebar .logo span{
    font-weight: 500;
    font-size: 20px;
}
.dashbord{
    height: 200vh;
    flex: 6;
}

.sidebar .logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 6rem 0rem;
    border-bottom: 1px solid gray;
    padding-bottom: 2rem;
}

.sidebar .logo .img{
    width: 50px;
    height: 50px;
    background-image: url('../assets/image.png');
    background-size: cover;
    border-radius: 50%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 9998;
}

.navbar .search{
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

.navbar .search input{
    color: rgba(0,0,0,.87);
    border-bottom-color: rgba(0,0,0,.42);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 16px 6px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    background: rgb(245, 245, 245);
    height: 56px;
}
.navbar .search input:hover{
    border-bottom-color: gray;
    background: #ececec;
}
.navbar .search input:focus{
    outline: 0;
    border-color: #0d6efd;
}
.navbar .user{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.navbar .user .notif .news{
    background-color: red;
    font-weight: 500;
    text-align: center;
    color: white;
    border-radius: 50%;
}

.navbar .user .notif{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 0px 3rem;
}
.navbar .user .profil{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 3rem;
}

.informations{
    
}
.informations .recaps{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.informations .recaps .recap{
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 2px 4px 0px;
}
